# ============================
# 기본 설정
# ============================
NODE_ENV=local
PORT=3000

# ============================
# URL 설정
# ============================
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_API_BASE_URL=
API_INTERNAL_BASE_URL=

# ============================
# 공개 환경 변수
# ============================
NEXT_PUBLIC_APP_NAME="jaubi.devlog"
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_FEATURE_IMAGE_OPTIMIZATION=true
NEXT_PUBLIC_API_TIMEOUT=10000
NEXT_PUBLIC_DEBUG_MODE=true

# ============================
# API Client-Type
# ============================
NEXT_PUBLIC_API_BASE_CLIENT_HEADER_CODE=CT04P

# ============================
# 로컬 로그인용 설정
# ============================
LOCAL_LOGIN_EMAIL=
LOCAL_LOGIN_PASSWORD=

# ============================
# 서버 전용 비밀값
# ============================
SECRET_API_KEY=
